:root {
  --bg-white: #F2F5F8;
  --bg-gray: #444753;
  --bg-blue: rgb(112, 184, 243);

  --font-input-size: 16px;
  --font-button-size: 20px;
}

button {
  color: white;
  background-color: var(--bg-gray);
  font-size: var(--font-button-size);
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: auto 90vh;
  grid-template-areas: "header header"
                        "left-side main";
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
  .grid-container {
    grid-template-columns: 100vw;
    grid-template-rows: auto 80vh;
    grid-template-areas: "header"
                         "main";
  }
}

.contact-view {
  grid-row: 2;
  grid-column: 1;
  background-color: var(--bg-gray);
  color: black; 
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
  .contact-view {
    grid-area: main;
  }
}

.chat-view {
  grid-row: 2;
  grid-column: 2;
  align-content: center;
  background-color: var(--bg-white);
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
  .chat-view {
    grid-column: 1;
    display: none;
  }
}

.chat-visible {
  grid-area: main;
  display: block;
}

.contact-view-visible {
  grid-area: main;
}

.control-view {
  grid-row: 1;
  grid-column: 1/3;
  background: var(--bg-gray);
  color: white;
  grid-area: header;
}

.error {
  color: red;
}
