
.message-input {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.message-input textarea {
  width: 50%;
  height: 100px;
  resize: none;
  font-size: var(--font-input-size);
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 3px;
}


.message-input button {
  background: var(--bg-white);
  color: black;
  margin-left: 20px;
}

.chat {
  width: auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;    
}

.back-button {
  display: none;
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
  .back-button {
    display: block;
  }
}

.chat .header {
  width: 100%;
  border-bottom: 2px solid var(--bg-blue);
}

.chat .title {
  font-size: 20px;
}

.chat .header img {
    width: 45px;  
    height: 45px;
    border-radius: 30px;
    border: 2px solid black;
    object-fit: cover;
    margin-right: 40px;
    margin-left: 10px;
}

.message-list {
  width: 100%;
  border-bottom: 2px solid var(--bg-blue);
}


.message-list ul {
  height: 63vh;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
  .message-list ul {
    height: 45vh;
  }
}

.message {
  width: min-content;
  min-width: 10%;
  max-width: 90%;
  font-size: var(--font-input-size);
  background: yellowgreen;
  padding: 10px;
  margin-right: 30px;
  margin-top: 20px;
  border-radius: 30px;
  flex: 1;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.other-message {
  width: min-content;
  min-width: 10%;
  max-width: 90%;
  text-align: right;
  background:  var(--bg-blue);
  color: white;
  margin-left: auto;
  margin-right: 10px;
  flex: 1;
  justify-self: end;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.author {
  font-size: 12px;
  margin-bottom: 36px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.other-author {
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 36px;
  font-weight: bold;
}


.message img {
  width: min-content;
  height: min-content;
  max-width: 100px;
  max-height: 100px;
}