.contact-list {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
}

.contact {
    height: 80px;
    background: var(--bg-grey);
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid black;
    object-fit: cover;
    margin-right: 40px;
    margin-left: 10px;
}

a {
    color: black;
}

.contact .name {
    font-size: 20px;
    margin-right: 40px;
}

.contact .status {  
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 20px;
    
}

.contact .status.online {
    background-color: green;
}

.contact .unread-messages {
    color: red;
}

.search {
    padding: 20px;
    margin-bottom: 20px;
    background: var(--bg-grey);
    color: white;
    border-bottom: 1px solid black;
}

.search input {
    width: 200px;
    height: 20px;
    background-color: var(--bg-white);
    font-size: var(--font-input-size);
    margin-right: 20px;
    margin-top: 20px;
}

.search button {
    margin-left: 20px;
}

.delete-button {
    color: red;
}

.selected .contact {
    background: greenyellow;
    color: black;
}

.contact:not(.selected):hover {
    background: white;
    color: black;
  }


.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-main {
    background-color: var(--bg-white);
    color: black;
    position: fixed;
    top: 30%;
    left: 25%;
    width: 40%;
    height: 40%;
    font-size: var(--font-button-size);
    padding: 5%;
    cursor: auto;
    text-align: center;
}

.modal-main button {
    margin-right: 10%;
}

.hide {
    display: none;
}

