.control {
    width: 100%;
    height: 100%;
}


.login {
    font-size: var(--font-input-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
    .login {
    flex-direction: column;
 }
}

.login form {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 600px), screen and (orientation:landscape) and (max-height: 600px) {
    .login form {
       flex-direction: column;
    }
}

.login label {
    text-align: end;
    flex: 3;
}

.login input {
    margin-left: 10px;
}

.login button, .logout button {
    padding-top: 10px;
    margin-left: 2%;
    flex: 1;
}

.settings {
    padding: 20px;
}

.register {
    height: 100%;
    background: var(--bg-gray);
    font-size: var(--font-input-size);
    padding: 5%;
}

.register label {
    display: block;
    text-align: end;
}

.register input {
    width: 40%;
    margin-left: 2%;
    margin-right: 30%;
    margin-bottom: 20px;
}

.register label span {
    text-align: start;
    text-indent: 30%;
}

.register label ul {
    list-style-type: none;
}

.link {
    flex: 1;
    margin-top: 10px;
    flex: 1;
}

.link a {
    text-decoration: none;
    font-size: var(--font-button-size);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}